/* Document styling */
body {
  background-color: #eee;
  font-family: helvetica, sans-serif;
  font-weight: 100;
}

#wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

#chart {
  position: absolute;
  top: 30px;
  left: 250px;
  width: 900px;
  /*margin: 25px auto;*/
}

#title {
  position: absolute;
  top: 0;
  left: 30px;
  font-size: 16px;
  letter-spacing: -2px;
  line-height: 100%;
}

#menu {
  position: absolute;
  top: 65px;
  left: 30px;
  width: 300px;
}

li, h1, h2, h4 {
  font-weight: 100;
}

h4 {
  margin: 0;
  color: #666;
}

ul {
  list-style: none;
  font-size: 12px;
  padding: 0;
  margin-top: 3px;
}

li {
  cursor: pointer;
  padding-bottom: 5px;
}

li:hover {
  color: #000;
}

li.preview {
  font-weight: 400;
}

p {
  font-size: 12px;
  line-height: 150%;
  margin-right: 80px;
  word-wrap: break-word;
}

/*option.selected {
  font-weight: bold;
}*/
